extends layout.pug

block medicine1
  if error 
    p.error Please fill the input
    
  if success 
    p.success Good job
     
  if deleted
    p.success Deleted

  form.action(action='/add', method='POST')
    input.text(type='text', placeholder='add your new medicine here...', name='todo')
    button.btnAdd Add new

  div.todos 
    if todos.length
      each todo in todos 
        p.todo 
          if todo.done
            a.done(href=`/${ todo.id}/update`) #{ todo.description }
          else 
            a.undone(href=`/${ todo.id}/update`) #{ todo.description }

          a.delete(href=`/${ todo.id }/delete`) Delete

    else 
      p.todo No any todo available 

